<!-- <section class="meet-team">
	<h2 class="meet-team__title">Meet our team</h2>

	<div
		class="meet-team__wrapper"
		:class="{'open':sliderIsOpen}"
	>
		<div class="meet-team__content">
			<div class="meet-team__top">
				<div
					class="meet-team__person meet-team__person--big"
					v-for="(item, index) in getBigPerson"
					@click="openSlider(item.personId)"
				>
					<p
						class="meet-team__photo"
						:class="{'meet-team__photo--elips meet-team__photo--up':item.personSubtitle==='CEO'}"
					>
						<img
							:src="'@img/'+item.personImageUrl"
							alt=""
						/>
					</p>

					<p class="meet-team__name">{{item.personName}}</p>
					<p class="meet-team__position">{{item.personSubtitle}}</p>
				</div>
			</div>

			<div class="meet-team__bottom">
				<div
					class="meet-team__person meet-team__person--small"
					v-for="(item, index) in getSmallPerson"
					@click="openSlider(item.personId)"
				>
					<p class="meet-team__photo meet-team__photo--small">
						<img
							:src="'@img/'+item.personImageUrl"
							alt=""
						/>
					</p>

					<p class="meet-team__name meet-team__name--small">
						{{item.personName}}
					</p>
					<p class="meet-team__position meet-team__position--small">
						{{item.personSubtitle}}
					</p>
				</div>
			</div>
		</div>

		<div class="meet-team__slider">
			<button
				class="meet-team__close-btn"
				@click="closeSlider()"
			>
				<svg
					width="154"
					height="24"
					viewBox="0 0 154 24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M0.939346 10.9393C0.353546 11.5251 0.353546 12.4749 0.939346 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939346 10.9393ZM154 10.5L2 10.5V13.5L154 13.5V10.5Z"
						fill="#F24C4C"
					/>
				</svg>
			</button>
			<div class="meet-team__slide">
				<a
					:href="getCurrenPerson.personMoreInfo.link"
					class="meet-team__slide-left"
				>
					<p
						class="meet-team__slide-photo"
						:class="{'meet-team__slide-photo--elips':getCurrenPerson.personSubtitle==='CEO'}"
					>
						<img
							:src="'@img/'+getCurrenPerson.personMoreInfo.bigImageUrl"
							alt=""
						/>
					</p>

					<p class="meet-team__slide-name">{{getCurrenPerson.personName}}</p>
					<p class="meet-team__slide-position">
						{{getCurrenPerson.personSubtitle}}
					</p>
				</a>
				<div class="meet-team__slide-right">
					<p class="meet-team__text reviews__text">
						<span class="reviews__text--red"
							>is the best i’ve ever cooperate with!</span
						>
						{{getCurrenPerson.personMoreInfo.description}}
					</p>
				</div>
			</div>
			<div
				v-if="showNextBtn"
				class="meet-team__next-slide"
				@click="nextSlide()"
			>
				<p class="meet-team__photo">
					<img
						:src="'@img/'+nextBtn.imgUrl"
						alt=""
					/>
				</p>

				<p class="meet-team__name">{{nextBtn.name}}</p>
				<p class="meet-team__position">{{nextBtn.position}}</p>
			</div>
		</div>
	</div>
</section> -->
