{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "es2020": true
  },
  "extends": [
    "airbnb",
    "prettier"

    //Рекомендуемые параметры prettier не с .prettierrc
    // "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "import/extensions": "off",
    "no-plusplus": "off",
    "no-tabs": "off",
    "arrow-body-style": "warn",
    "no-alert": "warn",
    "prefer-destructuring": "warn",
    "indent": [2, "tab"],
    "no-param-reassign": "warn",
    "linebreak-style": "off",
    "block-scoped-var": ["error"]
  }
}
