@import "mains/fonts";
@import "mains/normalize";
@import "mains/vars";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: $main-color;
  font-weight: 400;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  background: $body-bg;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;

  &--big {
    max-width: 1460px;
  }
}

.btn {
  padding: 5px 20px;
  line-height: 24px;

  letter-spacing: 0.0015em;
  border: 1px solid $main-color;
  border-radius: 5px;
  cursor: pointer;

  &-lang {
    position: relative;
    margin-left: 20px;
    padding-right: 17px;
    line-height: 0;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 12px;
      height: 7px;
      background: url("@img/arrow-down.svg");
      background-repeat: no-repeat;
      transform: translateY(-50%);
      content: "";
    }
  }

  &:hover {
    color: $main-color;
    background: transparent;
    border: 1px solid $main-color;
  }

  &--large {
    padding: 10px 34px;
  }

  &--blue {
    color: #fff;
    background: $btn-blue-bg;
    border: 1px solid transparent;
  }

  &--white {
    padding: 14px 28px;
    color: $main-color;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
  }

  &--tomato {
    padding: 14px 28px;
    color: #fff;
    background: #f24c4c;
    border: 1px solid transparent;
    border-radius: 10px;
  }
}

.main-header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 20px 80px 20px 100px;
  background: #fff;

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.main-nav {
  margin-left: auto;

  &__list {
    display: flex;
    gap: 30px;
    line-height: 24px;
    letter-spacing: 0.0015em;
  }

  &__link {
    &--collapce {
      position: relative;
      padding-right: 17px;

      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 12px;
        height: 7px;
        background: url("@img/arrow-down.svg");
        background-repeat: no-repeat;
        transform: translateY(-50%);
        content: "";
      }
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.main-section {
  position: relative;
  min-height: 832px;
  padding-top: 178px;
  overflow: hidden;
  color: #fff;
  font-weight: 500;

  &::after {
    position: absolute;
    top: -1196px;
    left: 50%;
    z-index: -1;
    width: 2027px;
    height: 2027px;
    background: #ec9b3b;
    border-radius: 50%;
    transform: translateX(-50%);
    content: "";
  }

  &__wrapper {
    display: flex;
    padding-right: 100px;
    padding-bottom: 81px;
  }

  &__left {
    max-width: 505px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__contact {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__call {
    color: blue;
    font-size: 17px;
    text-decoration: underline;
  }

  &__right {
    flex-grow: 1;
    padding-left: 105px;
  }
}

.statistic {
  margin-top: -113px;
  color: #101f42;

  &__wrapper {
    padding: 57px 0;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__elem {
    padding: 5px 27px;
    text-align: center;
    border-right: 1px solid #efefef;
  }

  &__stat {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
  }

  &__stat-title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 1.5631px;
    text-transform: uppercase;
  }
}

.mega-menu {
  position: fixed;
  top: -1000px;
  z-index: 998;
  width: 100%;
  background: #fff;
  border-top: 1px solid #f1f1f1;
  transition: all 0.6s ease-in;

  &.show {
    top: 100px;
  }

  &__wrapper {
    display: flex;
    gap: 70px;
    padding: 36px 0 45px;
  }

  &__grup-title {
    position: relative;
    margin: 0;
    margin-bottom: 21px;
    padding-left: 60px;
    color: #f24c4c;
    font-weight: 600;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: 0.0015em;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 43px;
      height: 43px;
      transform: translateY(-50%);
      content: "";
    }

    &--specialisation {
      &::after {
        background: url("@img/specialisation.svg");
        background-repeat: no-repeat;
      }
    }

    &--cog {
      &::after {
        background: url("@img/cog.svg");
        background-repeat: no-repeat;
      }
    }

    &--certified {
      &::after {
        background: url("@img/certified.svg");
        background-repeat: no-repeat;
      }
    }

    &--digital {
      &::after {
        background: url("@img/Digital.svg");
        background-repeat: no-repeat;
      }
    }
  }

  &__grup-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 60px;
    color: #a3a3a3;
  }

  &__grup-elem {
    &:hover {
      color: #f24c4c;
    }
  }
}

.our-clients {
  padding-top: 150px;
  text-align: center;

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    overflow: hidden;
  }

  &__slide {
    position: relative;
    padding: 0 75px;

    & img {
      max-width: 260px;
    }

    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 135px;
        background: #efefef;
        border-radius: 7px;
        transform: translateY(-50%);
        content: "";
      }
    }
  }
}

.translation-agency {
  padding-top: 87px;
  padding-bottom: 126px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
  }

  &__title {
    margin: 0;

    margin-bottom: 20px;
    color: #f24c4c;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 2.2974px;
    text-transform: uppercase;
  }

  &__descr {
    max-width: 539px;
    margin: 0;
    margin-bottom: 30px;
    color: #212121;
    line-height: 25px;
    letter-spacing: 1.59px;
    text-transform: uppercase;
  }
}
