@import "mains/fonts";
@import "mains/normalize";
@import "mains/vars";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: $main-color;
  font-weight: 400;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  line-height: 24px;
  background: $body-bg;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  transition-timing-function: linear !important;
}

.container {
  max-width: 1270px;
  margin: 0 auto;

  padding: 0 15px;

  &--big {
    max-width: 1470px;
  }

  &--nopaddings {
    padding: 0;
  }
}

.btn {
  display: inline-block;
  padding: 5px 18px;
  line-height: 24px;

  letter-spacing: 0.0015em;
  border: 1px solid $main-color;
  border-radius: 5px;
  cursor: pointer;

  &-lang {
    position: relative;
    margin-left: 15px;
    padding-right: 17px;
    line-height: 0;
    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 12px;
      height: 7px;
      background: url("@img/arrow-down.svg");
      background-repeat: no-repeat;
      transform: translateY(-50%);
      content: "";
    }
  }

  &:hover {
    color: $main-color;
    background: transparent;
    border: 1px solid $main-color;
  }

  &--large {
    padding: 10px 34px;
  }

  &--extra {
    width: 100%;
    padding: 58px 90px;
    font-size: 29px;
    line-height: 34px;
    letter-spacing: 0.015em;
    text-align: left;
  }

  &--blue {
    color: #fff;
    background: $btn-blue-bg;
    border: 1px solid transparent;
  }

  &--outline {
    color: $main-color;
    background: transparent;
    border: 1px solid $main-color;

    &.active {
      color: #fff;
      background: $btn-blue-bg;
      border: 1px solid transparent;
    }
  }

  &--white {
    padding: 14px 28px;
    color: $main-color;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
  }

  &--black {
    padding: 14px 28px;
    color: #fff;
    background: #212121;
    border: 1px solid transparent;
    border-radius: 10px;
  }

  &--tomato {
    padding: 14px 28px;
    color: #fff;
    background: $secondary-color;
    border: 1px solid transparent;
    border-radius: 10px;
  }
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 20px 83px 20px 100px;
  background: #fff;

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.main-logo {
  min-width: 264px;
}

.main-nav {
  margin-left: auto;

  &__list {
    display: flex;
    gap: 30px;
    line-height: 25px;
    letter-spacing: 0.0015em;
  }

  &__link {
    &--collapce {
      position: relative;
      padding-right: 17px;

      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 12px;
        height: 7px;
        background: url("@img/arrow-down.svg");
        background-repeat: no-repeat;
        transform: translateY(-50%);
        content: "";
      }
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.main-section {
  position: relative;
  min-height: 732px;
  padding-top: 75px;
  overflow: hidden;
  color: #fff;
  font-weight: 500;
  background: url("@img/main-section-orange-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  &--about-us {
    background: url("@img/main-section-red-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  &--sub-page {
    background: url("@img/main-section-yellow-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  &--contact {
    background: url("@img/main-section-blue-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  &__wrapper {
    display: flex;
    padding-bottom: 81px;
    padding-left: 100px;
  }

  &__left {
    min-width: 500px;
    padding-top: 28px;
    padding-right: 120px;

    &--about-us {
      padding-top: 110px;
    }

    &--sub-page {
      max-width: 650px;
      margin-left: auto;
      padding-top: 65px;

      padding-left: 0;
      color: #212121;
    }

    &--contact {
      max-width: 650px;
      margin-left: auto;
      padding-top: 123px;

      padding-left: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
  }

  &__description {
    margin-bottom: 26px;

    &--sub-page {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__contact {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__call {
    color: #1e61c7;
    font-size: 17px;
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }

  &__right {
    min-width: 750px;
  }

  &__slider {
    max-width: 730px;
    margin-right: 0;
    border-radius: 10px 10px 10px 400px;

    img {
      // max-width: 530px;
      border-radius: 10px;
    }
  }
}

.statistic {
  position: relative;
  z-index: 2;
  margin-top: -125px;
  color: #101f42;

  &__wrapper {
    padding: 57px 0;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__elem {
    padding: 5px 27px;
    text-align: center;
    border-right: 1px solid #efefef;
  }

  &__stat {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
  }

  &__stat-title {
    margin: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 1.5631px;
    text-transform: uppercase;
  }
}

.mega-menu {
  position: absolute;
  top: -1000px;
  left: 0;
  z-index: 998;
  width: 100%;
  max-width: 1440px;
  background: #fff;
  border-top: 1px solid #f1f1f1;
  transition: all 0.6s ease-in;

  &.show {
    top: 106px;
  }

  &__wrapper {
    display: flex;
    gap: 70px;
    padding: 36px 0 45px;
  }

  &__grup-title {
    position: relative;
    margin: 0;
    margin-bottom: 21px;
    padding-left: 60px;
    color: $secondary-color;
    font-weight: 600;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: 0.0015em;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 43px;
      height: 43px;
      transform: translateY(-50%);
      content: "";
    }

    &--specialisation {
      &::after {
        background: url("@img/specialisation.svg");
        background-repeat: no-repeat;
      }
    }

    &--cog {
      &::after {
        background: url("@img/cog.svg");
        background-repeat: no-repeat;
      }
    }

    &--certified {
      &::after {
        background: url("@img/certified.svg");
        background-repeat: no-repeat;
      }
    }

    &--digital {
      &::after {
        background: url("@img/Digital.svg");
        background-repeat: no-repeat;
      }
    }
  }

  &__grup-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 60px;
    color: #a3a3a3;
  }

  &__grup-elem {
    &:hover {
      color: $secondary-color;
    }
  }
}

.lang-list {
  position: absolute;
  top: 106px;
  right: 81px;
  z-index: 998;
  padding: 15px;
  background: #fff;
  border-top: 1px solid #f1f1f1;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.5s ease;

  &.show {
    transform: scaleY(1);
  }

  &__item {
    padding: 7px 0;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(204 204 204);
    }
  }
}

.our-clients {
  padding-top: 155px;
  text-align: center;

  &__title {
    margin: 0;
    margin-bottom: 85px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
  }

  &__slide {
    position: relative;
    padding: 0 75px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    & img {
      max-width: 260px;
    }

    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 135px;
        background: #efefef;
        border-radius: 7px;
        transform: translateY(-50%);
        content: "";
      }
    }
  }
}

.translation-agency {
  padding-top: 87px;
  padding-bottom: 126px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    text-align: right;
  }

  &__img {
    max-width: 518px;
  }

  &__title {
    margin: 0;

    margin-bottom: 20px;
    color: $secondary-color;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 2.2974px;
    text-transform: uppercase;
  }

  &__descr {
    max-width: 539px;
    margin: 0;
    margin-bottom: 30px;
    color: #212121;
    line-height: 25px;
    letter-spacing: 1.59px;
    text-transform: uppercase;
  }
}

.benefits {
  padding: 72px 0 144px;
  color: #fff;
  background-color: $secondary-color;
  border-radius: 0 0 500px 0 / 0 0 300px 0;

  &__title {
    max-width: 988px;
    margin: 0 auto;
    margin-bottom: 116px;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 90px;
    padding: 0 50px;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.015em;
  }

  &__item {
    position: relative;
    padding-left: 70px;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 34px;
      height: 26px;
      background: url("@img/ok.svg");
      background-repeat: no-repeat;
      transform: translateY(-50%);
      content: "";
    }
  }
}

.how-work {
  padding-top: 150px;

  &__img {
    max-width: 805px;
    margin: 0;
    object-fit: contain;
    line-height: 0;

    img {
      height: 100%;
      border-radius: 0 181px 0 0;
    }
  }

  &__slider {
    max-width: 635px;
    padding-bottom: 30px;
  }

  &__slide {
    padding: 0 90px;
  }

  &__slider-wrapper {
    text-align: center;
  }

  &__btns .swiper-pagination-bullet {
    width: auto;
    height: auto;
    padding: 5px 18px;
    color: $main-color;
    line-height: 24px;

    letter-spacing: 0.0015em;
    background: transparent;
    border: 1px solid $main-color;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
  }

  &__btns .swiper-pagination-bullet-active {
    color: #fff;
    background: $btn-blue-bg;
    border: 1px solid transparent;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 18px;
  }

  &__item {
    position: relative;
    padding-left: 35px;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 17px;
      height: 13px;
      background: url("@img/ok-red.svg");
      background-repeat: no-repeat;
      transform: translateY(-50%);
      content: "";
    }
  }

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
  }

  &__btns {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 29px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    color: #000;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0.015em;
  }

  &__descr {
    margin: 0;
    text-align: center;
  }

  &__btn {
    position: relative;
    max-width: 635px;
    margin-top: auto;
    border-radius: 0 0 0 75px;
  }
}

.speciality {
  display: flex;
  padding-top: 150px;
  color: #fff;

  &__left {
    padding: 100px 74px 50px 100px;
    background: #101f42;
  }

  &__title {
    margin: 0;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0.015em;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px 36px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }

  &__item {
    position: relative;
    padding-left: 50px;

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 30px;
      height: 30px;
      background: url("@img/speciality-list.svg");
      transform: translateY(-50%);
      content: "";
    }
  }

  &__img {
    height: 100%;
  }
}

.reviews {
  padding-top: 150px;

  &__slide {
    max-width: 967px;
    margin: 0 auto;
    text-align: center;
  }

  &-pagination.swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }

  &-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid $secondary-color;
    opacity: 1;
  }

  &-pagination .swiper-pagination-bullet-active {
    background: $secondary-color;
  }

  &__img {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 28px;

    img {
      border: 8px solid $secondary-color;
      border-radius: 50%;
    }
  }

  &__awesom {
    margin-bottom: 17px;
    color: $secondary-color;
    font-weight: 800;
    font-size: 26px;
    line-height: 39px;
  }

  &__text {
    position: relative;
    margin-bottom: 26px;
    padding: 0 81px;
    color: #212121;
    font-size: 20px;
    line-height: 30px;
    text-align: left;

    &::after {
      position: absolute;
      top: -44px;
      left: 0;
      width: 38px;
      height: 33px;
      background: url("@img/left-quotes.svg");
      content: "";
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: -33px;
      width: 38px;
      height: 33px;
      background: url("@img/right-quotes.svg");
      content: "";
    }

    &--red {
      color: $secondary-color;
    }
  }

  &__name {
    padding: 0 81px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }
}

.main-footer {
  position: relative;
  margin-top: 150px;
  overflow: hidden;
  color: #fff;

  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    width: 1978px;
    height: 866px;
    background: #ec9b3b;
    border-radius: 50% 50% 0 0;
    transform: translateX(-50%);
    content: "";
  }

  &__wrapper {
    display: flex;
    padding: 171px 50px 60px;
  }

  &__col {
    flex-shrink: 1;

    &--area {
      padding-left: 39px;
    }

    &--lang {
      padding-left: 96px;
    }

    &--loc {
      padding-left: 74px;
    }
  }

  &__col-title {
    margin: 0;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__link {
    display: inline-block;
    color: #ffd499;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;

    &:hover {
      color: #fff;
    }

    &--all {
      margin-top: 45px;
      color: #fff;
    }
  }

  &__social {
    padding-left: 167px;
  }

  &__social-list {
    display: flex;
    gap: 27px;
  }

  &__social-link {
    &:hover svg path {
      fill: #ffd499;
    }
  }
}

.meet-team {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden;
  text-align: center;

  &::after {
    position: absolute;
    top: 370px;
    left: 50%;
    z-index: -1;
    width: 100%;
    color: #101f42;
    font-weight: 700;
    font-size: 172px;
    line-height: 258px;

    text-align: center;
    transform: translateX(-50%);
    opacity: 0.05;
    content: "WOW, THAT’S US!";
  }

  &__wrapper {
    display: flex;
  }

  &__title {
    margin: 0;
    margin-bottom: 179px;
    color: #212121;
    font-weight: 600;
    font-size: 70px;
    line-height: 125.5%;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    gap: 98px 0;
    justify-content: space-between;
    margin-bottom: 98px;
  }

  &__content {
    min-width: 100%;
    height: 100%;
    padding: 0 224px;
  }

  &__slider {
    position: relative;
    min-width: 100%;
    height: 100%;
    padding-top: 50px;

    &-wrapper {
      display: flex;
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    cursor: pointer;
  }

  &__next-slide {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 10;
    max-width: 245px;
    transform: translate(50%, -50%);
  }

  &__slide {
    display: flex;
    align-items: center;
    min-width: 100%;
    padding-right: 244px;

    &-left {
      display: flex;
      flex-direction: column;
      min-width: 400px;
      padding-right: 20px;
    }

    &-photo {
      margin-bottom: 24px;
    }

    &-name {
      margin: 0;
      font-weight: 600;
      font-size: 49.7664px;
      line-height: 75px;
    }

    &-position {
      margin: 0;
      color: #bebebe;
      font-weight: 700;
      font-size: 29.8598px;
      line-height: 45px;
    }
  }

  &__person {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--big {
      padding-right: 138px;
      padding-left: 40px;

      &:nth-child(3n) {
        padding-right: 40px;
        padding-left: 0;
      }

      &:nth-child(3n + 2) {
        padding-left: 0;
      }
    }

    &--small {
      padding-right: 53px;

      &:nth-child(5n + 5) {
        padding-right: 0;
      }
    }
  }

  &__photo {
    margin-bottom: 15px;

    img {
      width: 158px;
      height: 158px;
      border-radius: 50%;
    }

    &--elips {
      img {
        width: 177px;
        height: 208px;
        border-radius: 0 110px;
      }
    }

    &--small {
      img {
        width: 104px;
        height: 104px;
      }
    }

    &--up {
      margin-top: -98px;
    }
  }

  &__name {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;

    &--small {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__position {
    margin: 0;
    color: #bebebe;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    &--small {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 98px 0;
    justify-content: space-between;
  }
}

.timeline {
  min-height: 1045px;
  padding: 261px 0 210px;
  color: #fff;
  background: url("@img/timeline-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__wrapper {
    position: relative;
    padding-bottom: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 77px;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
  }

  &__text {
    position: absolute;
    max-width: 370px;
    cursor: default;
    opacity: 0;
    transition: opacity 0.5s linear;

    &.hover {
      opacity: 1;
    }
  }

  &__line {
    &.hover {
      opacity: 1;
    }
  }

  &__text--first {
    top: 180px;
    left: 215px;
  }

  &__text-title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
  }

  &__text-descr {
    margin: 0;
    color: #f3f3f3;
  }

  &__text--second {
    bottom: -114px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }

  &__text--third {
    top: 180px;
    right: 215px;
    text-align: right;
  }
}

.vision {
  position: relative;
  margin-top: 150px;
  padding: 132px 0 54px;
  color: #fff;
  background: url("@img/vision-bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  &::after {
    position: absolute;
    top: 131px;
    left: 0;
    z-index: 1;
    width: 335px;
    height: 77px;
    background: #101f42;
    border-radius: 0 22px 22px 0;
    content: "";
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    position: relative;
  }

  &__title {
    position: relative;
    z-index: 2;
    margin: 0;
    margin-bottom: 119px;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0.015em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    max-width: 511px;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    padding-left: 58px;
    counter-increment: num;

    &::before {
      position: absolute;
      top: 0;
      left: 23px;
      color: #101f42;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.015em;
      content: counter(num);
    }

    &:nth-child(-n + 9)::before {
      content: "0" counter(num);
    }
  }

  &__right {
    display: grid;
    grid-template-areas:
      "f f"
      "f f"
      "f f"
      "e s"
      "r s"
      "v s"
      "b q"
      "b q"
      "b q";
    gap: 20px;
    padding-left: 108px;
  }

  &-f {
    grid-area: f;
  }

  &-e {
    grid-area: e;
  }

  &-r {
    grid-area: r;
  }

  &-v {
    grid-area: v;
  }

  &-s {
    grid-area: s;
  }

  &-b {
    grid-area: b;
  }

  &-q {
    grid-area: q;
  }
}

.stories {
  padding-top: 150px;

  &__title {
    margin: 0;
    margin-bottom: 70px;
    color: #212121;
    font-weight: 600;
    font-size: 70px;
    line-height: 125.5%;
    text-align: center;
  }

  &-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #101f42;
    opacity: 1;
  }

  &-pagination .swiper-pagination-bullet-active {
    background: #101f42;
  }

  &__img {
    margin-bottom: 14px;
    border-radius: 7px;
  }

  &__name {
    margin: 0;
    color: #000;
    font-weight: 600;
    font-size: 27.1186px;
    line-height: 41px;
  }

  &__descr {
    margin: 0;
    color: #b3b3b3;
    font-size: 21.6949px;
    line-height: 33px;
  }
}

.sub-team {
  padding-top: 152px;

  &__slide {
    display: flex;
    padding-right: 100px;
    padding-left: 40px;
  }

  &__next-slide {
    top: 35px;
    text-align: center;
    transform: translate(50%, 0);
  }

  &__slide-right {
    padding-right: 200px;
    padding-left: 79px;
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    color: $secondary-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    &--main {
      font-weight: 700;
      font-size: 33px;
      line-height: 50px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 180%;

    &--red {
      color: $secondary-color;
      text-decoration: underline;
    }
  }
}

.full-person {
  // width: 100%;
  min-width: 370px;
  max-width: 381px;
  text-align: center;

  &__photo {
    margin: 0;

    img {
      max-width: 244px;
    }
    margin-bottom: 44px;
  }

  &__text {
    position: relative;
    margin: 0;
    margin-bottom: 27px;
    padding: 0 65px;
    color: #101f42;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    &::after {
      position: absolute;
      top: -4px;
      left: 0;
      width: 38px;
      height: 33px;
      background: url("@img/left-quotes.svg");
      content: "";
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: -4px;
      width: 38px;
      height: 33px;
      background: url("@img/right-quotes.svg");
      content: "";
    }
  }

  &__name {
    margin: 0;
    color: #212121;
    font-weight: 600;
    font-size: 41.472px;
    line-height: 62px;
  }

  &__position {
    margin: 0;
    color: #bebebe;
    font-weight: 700;
    font-size: 24.8832px;
    line-height: 37px;
  }
}

.get-quote {
  padding-top: 150px;
  text-align: center;

  &__title {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 50px;
    padding: 0 71px;
    color: #101f42;
    font-weight: 600;
    font-size: 70px;
    line-height: 125.5%;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 38px;
      height: 33px;
      background: url("@img/left-quotes.svg");
      content: "";
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 38px;
      height: 33px;
      background: url("@img/right-quotes.svg");
      content: "";
    }
  }

  &__form {
    display: flex;
    gap: 20px;
  }

  &__form-section {
    flex-grow: 1;
    max-width: 400px;
    padding: 30px 30px 46px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 112px rgb(219 49 54 / 5%);
  }

  &__form-title {
    margin: 0;
    margin-bottom: 39px;
    color: $secondary-color;
    font-weight: 600;
    font-size: 30px;
    line-height: 125.5%;
  }

  &__form-label {
    display: flex;
    flex-direction: column;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 125.5%;
    text-align: left;
  }

  &__form-input {
    margin-top: 12px;
    margin-bottom: 14px;
    padding: 12px 21px;
    color: #000;
    font-weight: 400;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
  }

  &__form-textarea {
    height: 141px;
    margin-top: 12px;
    margin-bottom: 20px;
    padding: 12px 21px;
    color: #000;
    font-weight: 400;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    resize: none;
  }

  &__form-submite {
    margin-bottom: 28px;
    padding: 15px 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125.5%;
  }

  &__form-info {
    b {
      color: #101f42;
      font-weight: 600;
      font-size: 12px;
      line-height: 125.5%;
    }

    p {
      padding-right: 30px;
      color: #000;
      font-weight: 400;
      font-size: 10px;
      line-height: 213%;

      a {
        color: $secondary-color;
        text-decoration: underline;
      }
    }
  }

  &__form-drag {
    position: relative;
    padding: 46px;
    border: 2px dashed #f24c4c;
    border-radius: 7px;

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #000;
      font-weight: 500;
      font-size: 14px;
      line-height: 125.5%;

      svg {
        margin-bottom: 13px;
      }
    }
  }
}

.contact-section {
  padding-top: 150px;

  &__wrapper {
    display: flex;
    padding-left: 60px;
  }

  &__content {
    padding-left: 80px;
  }

  &__subtitle {
    max-width: 379px;
    margin: 0;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
  }

  &__address {
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: 190.5%;
  }

  &__grup {
    display: flex;
    gap: 33px;
    align-items: center;
    margin-bottom: 22px;
  }

  &__phone,
  &__email {
    color: $secondary-color;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    text-decoration-line: underline;
  }

  &__btn {
    padding: 16px 174px;
  }
}

.contact-city {
  padding-top: 150px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 150px;
  }

  &__elem {
    display: flex;
    gap: 125px;
    align-items: center;

    img {
      border-radius: 0 320px;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;

      img {
        order: 2;
        border-radius: 50%;
      }
    }
  }

  &__content {
    margin-right: auto;
  }

  &__name {
    margin: 0;
    margin-bottom: 20px;
    color: #101f42;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
  }

  &__grup {
    margin-bottom: 30px;
    color: #000;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 45px;
  }

  &__adress {
    margin: 0;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
  }

  &__phone,
  &__email {
    margin: 0;
    color: $secondary-color;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;

    text-decoration-line: underline;
  }
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1046px;
  padding-top: 100px;
  padding-left: 100px;
  background: url("@img/contact-us-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;

  &__title {
    margin: 0;
    margin-bottom: 66px;
    color: #212121;
    font-weight: 700;
    font-size: 70px;
    line-height: 105px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 563px;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    color: #212121;
    font-size: 16px;
    line-height: 125.5%;
  }

  &__input {
    width: 100%;
    max-width: 340px;
    padding: 12px 21px;
    background: transparent;
    border: 1px solid #323232;
    border-radius: 4px;
  }

  &__textarea {
    width: 100%;
    max-width: 340px;
    height: 146px;
    padding: 12px 21px;
    background: transparent;
    border: 1px solid #323232;
    border-radius: 4px;
    resize: none;
  }

  &__btn {
    align-self: flex-end;
    width: 100%;
    max-width: 340px;
  }
}

.dropdawn {
  &__select-btn,
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__select-btn {
    position: relative;
    margin-top: 12px;
    margin-bottom: 14px;
    padding: 12px 35px 12px 21px;
    color: #000;
    font-weight: 400;
    border: 1px solid #d8d8d8;
    border-radius: 4px;

    &::after {
      position: absolute;
      top: 50%;
      right: 21px;
      width: 12px;
      height: 7px;
      background-image: url("@img/arrow-dropdawn.svg");
      transform: translateY(-50%);
      content: "";
    }
  }

  &--multiple {
    &__select-btn {
      padding: 8px 35px 8px 9px;

      span {
        display: flex;
        align-items: center;
        padding: 6px 12px 6px 6px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 125.5%;
        background: #212121;
        border-radius: 3px;

        svg {
          margin-right: 6px;
        }
      }
    }
  }

  &__content {
    position: absolute;
    z-index: 2;
    display: none;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
  }

  &.active &__content {
    display: block;
  }

  &__search {
    position: relative;
  }

  &__search input {
    width: 100%;
    padding: 10px 20px 10px 43px;
    font-size: 16px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    outline: none;
  }

  &__search input:focus {
    padding-left: 42px;
    border: 2px solid #4285f4;
  }

  &__search input::placeholder {
    color: #bfbfbf;
  }

  &__content &__options {
    max-height: 250px;
    margin-top: 10px;
    padding-right: 7px;
    overflow-y: auto;
  }

  &__options::-webkit-scrollbar {
    width: 7px;
  }

  &__options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }

  &__options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }

  &__options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }

  &__options li {
    padding: 15px 13px;
    font-size: 16px;
  }

  &__options li:hover,
  li.selected {
    background: #f2f2f2;
    border-radius: 5px;
  }
}

.breadcrumbs {
  margin-bottom: 10px;

  span {
    padding-right: 10px;
    cursor: pointer;
    opacity: 0.5;

    svg {
      margin-left: 10px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
